@media screen and (max-width: 480px) {

    .container {
        width: 480px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .text {
        font-size: 1.2rem;
    }

    h1 {
        margin-bottom: 3rem;
        font-size: 3rem;
    }
    
    h2 {
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
        color: #fffffe;
    }
    
    h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .lessons .col,
    .steps .col {
        width: 100%;
    }

    .lessons .col img,
    .steps .col img {
        height: 250px;
        margin-bottom: 1rem;
    }

    .steps {
        margin-bottom: 0rem;
        padding: 3rem 0;
        color: #232946;
        background: #eebbc3;
    }

    .why-us {
        margin-bottom: 0rem;
        padding: 3rem 0;
        background-color: #222222;
    }

    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }

    .why-us > .container {
    }

    .why-us li {
        list-style: none;
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
    }

}